/* ================Header================== */
* {
    box-sizing: border-box;
}

/* ================header===top navbar =============*/
.header {
    width: 100%;
    height: 60px;
}

.black-header {
    width: 100%;
    height: 60px;
    color: white;
    background: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

@media only screen and (max-width: 960px) {
    .black-header {
        height: 300px;
    }
}

.nav1 {
    width: 120px;
    height: 60px;
    margin: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.nav2 {
    width: 160px;
    height: 60px;
    margin: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.nav1:hover {
    background: #00c8c8;
    color: white;
    transition: 0.7 ease;
}

.nav2:hover {
    color: white;
    background: #00c8c8;
    transition: 0.7 ease;

}

/* ================///header===top navbar =============*/
/* .mobile-menu{
    background-color: rgb(255, 255, 255);
    display: none;
    z-index: 1;
}

.mobile-menu.open-menu{
    display: block;
}

.navbar-mobile-menu li{
    margin:10px 0;
}

.navbar-mobile-menu li a{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:20px;
    font-weight: bold;
} */
/*================ bottom navbar============  */

.cant {
    width: 100%;
    height: 120px;
    background: #fbfbfb;
    font-family: 'Montserrat', sans-serif;
}

@media only screen and (max-width:960px) {
    .cant {
        height: 300px;
    }
}

@media only screen and (max-width: 960px) {
    .cant .mother .header__nav a {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 960px) {
    .cant .mother .logo1 {
        display: none;
    }
}

@media only screen and (max-width: 960px) {
    .cant .mother .logo .logo1 {
        display: none;
    }
}

.mother {
    width: 100%;
}

.header__nav {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

.header__nav li {
    display: inline-block;
    position: relative;
    padding: 0 2.5rem;
    padding-left: 20px;
    margin: -9px;
}

.header__nav li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.header__nav li a:hover {
    color: #00c8c8 !important;
    transition: 0.3s;
}

.header__nav li a p {
    margin-left: 1px;
    font-size: 10px;
    margin-bottom: 0rem;
    margin-top: 5px;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.header__nav>li>a:hover p {
    color: #1abdd4 !important;
    transition: 0.3s;
}

.header__nav li.has-children {
    padding-right: 2rem;
}

@media only screen and (max-width: 960px) {
    .header__nav .has-children ul {
        display: none !important;
    }
}

@media only screen and (max-width: 960px) {
    .header__nav .has-children p {
        display: none !important;
    }
}

@media only screen and (max-width: 960px) {
    .header__nav {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 960px) {
    .cant .mother .header__nav a {
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 994px) {
    .align {
        display: none !important;
    }
}

.container1 {
    width: 92%;
    margin: 0 auto;
}

@media only screen and (max-width: 960px) {
    .cant .form-inline {
        display: flex;
        justify-content: start !important;
    }
}

.header__nav li ul {
    position: absolute;
    width: 150px;
    top: 100%;
    left: -415px;
    margin-top: 1px;
    font-size: 17px;
    padding: 25px 35px;
    background-color: #fbfbfb;
    border-radius: 0 0 3px 3px;
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
    z-index: 99;
    font-family: 'Montserrat', sans-serif;
}

.has-children:hover .sub-menu {
    opacity: 1;
    visibility: visible;

}

.header__nav li ul li {
    display: block;
    text-align: left;
    padding: 0;
    margin: 0;
    min-height: 20px;
    width: 200px;
    display: flex;
    flex-grow: row;
}

.navbar-name {
    color: #333333;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.sut {
    width: 240px;
    height: 200px;
}

.sut1 {
    width: 240px;
    height: 200px;
}

.sut3,
.sut4 {
    width: 200px;
    height: 340px;
}

.sut-h5 {
    font-family: 'Montserrat', sans-serif;
    color: #333333;
}

.sut-h5:hover {
    color: #00c8c8;
}

.sut-li {
    font-family: 'Montserrat', sans-serif;
    color: gray;
}

.navbar-box {
    width: 100%;
    height: 180px;
    background: #333333;
}

.navbar-box1 {
    width: 90%;
    height: 180px;
    background: #333333;
}

.navbar-h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.btn1{
    font-size: 17px;
    text-decoration:none;
    font-family: 'Montserrat', sans-serif;
    color:#777777;
}
.btn1:hover{
    text-decoration:none;
    color:#777777;
}
.btn {
    background: #fbfbfb;
    margin-left: -45px;
    font-size: 13px;
    background: white;
}
/* ===header icon=== */

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700,900'); /* font-family: 'Montserrat', sans-serif; */
html, body{
    height: 100%;
}
 footer, main, ul, h1 {
    margin:0;
    padding:0;
}

/******* index start  *********/
#index-header{
    height: 100%;
}
a {
    text-decoration: none;
    color:inherit;
}
header li a {
    color: #7d7d7d;
}
header li .fa-shopping-cart{
    color: #fff;
}
.shop-cart{
    background: #00c8c8;
    padding-left: 15px;
    margin-left: 25px;
}
.currency{
    margin-right: 20%;
}

.bottom-menu-ul{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}
.bottom-li{
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
}
.bottom-li span{
    text-transform: uppercase;
    font-weight: 600;
}
.bottom-menu-ul .bottom-li :hover {
    color: #00c8c8;
}

.open-menu{
    display: none;
    background-color: #f8f8f8;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 25px;
    position: absolute;
}
.open-menu li {
    list-style: none;
    line-height: 30px;
}
.open-menu h3{

    font-family: 'Montserrat';
    color: #575153;
    margin: 0;
    padding-bottom: 10px;
    font-size: 12px;
    line-height: 20px;
    text-align: left;
    font-weight: bold;
}
.mens:hover .open-menu {
    display: block;
}
.sale {
    width: 100%;
    background: black;
    padding: 30px;
    margin: 15px;
}
.sale .top {
    font-family: 'Montserrat';
    color: #ffffff;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
}
.sale .bottom {
    font-family: 'Montserrat';
    color: #ffffff;
    font-size: 36px;
    text-transform: uppercase;
}
.open-menu-right{
    padding-left: 70px;
    padding-right: 70px;
}
.search .fa-search{
    position: relative;
    left: -20px;
    color: #bbbbbb;
}
.search input{
    border-style: solid;
    border-width: 1px;
    border-color: #e7e7e7;
    padding-left: 5px;
    background-color: #f8f8f8;
}
.banner{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
@media only screen and (max-width: 960px) {
    .banner{
        width: 100%;
        height: 0px;
        object-fit: cover;
        display: flex;
        justify-content:center;
        align-items: flex-start;
    }
}

/* ================///Header============== */

.nav-item a {
    text-decoration: none;
    color: black;
}
@media only screen and (max-width: 960px) {
    .header-picture {
      display: none;
    }
}
.header-picture {
    width: 100%;
    height: 450px;
    background-image: url(img/bg.png);
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.head-pict-h1 {
    font-size: 65px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.head-pict-h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: white;
    font-weight: bold;
}

@media only screen and (max-width: 960px) {
    .header {
        width: 100%;
        height: 300px;
    }
}
@media only screen and (max-width: 960px) {
    .header-picture {
     margin-top: 0px;
    }
}

.nav-h1 {
    font-size: 20px;
}

.header-button:hover {
    background-color: #00c8c8;
    color: white;
    border: none;
    transition: 0.3 ease;
}
/* ===========///Header bottom========== */
/* ===================City================ */
.city {
    width: 100%;
    height: 500px;
}

@media only screen and (max-width: 960px) {
    .city {
        width: 100%;
        height: 1100px;
        padding-right: 0;
    }
}
@media only screen and (max-width: 1000px) and ( min-width:960px) {
    .city{
       margin-top: 300px;
    }
}
.city-header {
    width: 100%;
    background: white;
    height: 300px;
    font-family: 'Montserrat', sans-serif;
}

.city-name-h1 {
    font-size: 25px;
    color: #363636;
    font-family: 'Montserrat', sans-serif;
}

.city-name-h5 {
    font-size: 15px;
    color: #363636;
    font-family: 'Montserrat', sans-serif;
}

.city-name-p {
    color: gray;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

/* @media only screen and (max-width: 960px) {
    .main-button {
    display: flex;
    justify-content: center
   }
}  */
.main-button {
    width: 200px;
    height: 60px;
    color: #363636;
    font-weight: bold;
    background: #f8f8f8;
    border: solid 1px #363636;
}

.main-button:hover {
    color: white;
    background: #00c8c8;
    border: none;
}

/* map */
.map {
    width: 100%;
    height: 700px;
    background: #f8f8f8;
}

@media only screen and (max-width: 960px) {
    .map {
        width: 99%;
        height: 700px;
    }
}

.city-name-h2 {
    font-size: 35px;
    color: #363636;
}

.city-name-h6 {
    font-size: 25px;
}

.city-name-p1 {
    font-size: 18px;
    color: grey;
}

.city-header-map {
    background: #f8f8f8;
}

.map-adress {
    width: 90%;
    height: 100%;
}

.map-height {
    height: 99%;
}

.m-icon {
    font-size: 20px;
    color: #727272;
}

.map-p {
    font-size: 20px;
    color: #727272;
}
@media only screen and (max-width: 960px) {
    .map-border{
       font-size: 20px !important;
       width: 35px !important;
       height: 35px !important;
       border-radius: 50%;
    }
}

.map-border {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #727272;
    color: white;
    font-size: 30px;
}

.map-border:hover {
    color: #00c8c8;
}

/* ===================///City================ */
/* =======Footer========= */
.footer-middle {
    background: #f8f8f8;
    padding-top: 2em;
    color: white;
    width: 100%;
}

.container-fluid1 {
    width: 68%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media only screen and (max-width: 1023px) and (min-width:767px) {
    .mda {
        display: flex;
        justify-content: center !important;
        align-items: center;
    }
}

@media only screen and (max-width: 1023px) and (min-width:767px) {
    .footer-h6 {
        font-size: 13px;
    }
}

.container-fluid2 {
    width: 63%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.txbr {
    color: #70c7c7;
}

.list a:hover {
    text-decoration: none;
    color: #70c7c7;
    font-family: 'Montserrat', sans-serif;
}

.list a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: #727272;
    font-family: 'Montserrat', sans-serif;
}

.ftbr {
    background-color: #363636;
}

.ftbr1 {
    background-color: #70c7c7;
    font-family: 'Montserrat', sans-serif;
}

@media only screen and (max-width: 1023px) and (min-width:767px) {
    .txft {
        font-size: 25px !important;
    }
}

@media only screen and (max-width:768px) {
    .txft {
        font-size: 15px !important;
    }
}

.txft {
    font-size: 36px;
    text-align: center;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

.footerbr {
    margin-right: 4rem !important;
}

@media only screen and (max-width: 1023px) and (min-width:767px) {
    .txft2 {
        font-size: 25px !important;
    }
}

@media only screen and (max-width:768px) {
    .txft2 {
        font-size: 15px !important;
    }
}

.txft2 {
    font-size: 36px;
    text-align: center;
    font-weight: 200;
    font-family: 'Montserrat', sans-serif;
}

.brico i {
    font-size: 30px;
    text-align: center;
    color: white;
}

.ftend {
    background-color: #363636;
}

.brico {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 1023px) and (min-width:767px) {
    .footer-icon {
        font-size: 20px !important;
    }
}

@media only screen and (max-width:768px) {
    .footer-icon {
        font-size: 14px !important;
    }
}

@media only screen and (min-width:767px) {
    .endtx1 {
        margin-left: 40px;
    }
}

.endtx1 {
    color: #777777;
    font-family: 'Montserrat', sans-serif;
}

.endtx2 {
    color: #777777;
    font-family: 'Montserrat', sans-serif;

}

.endtx3 {
    color: #777777;
    font-family: 'Montserrat', sans-serif;
}

.lcbook a {
    text-decoration: none;
}

.footer-icon:hover {
    color: #363636;
}

.footer-bottom {
    background: #363636;
    width: 100%;
}

.ftbr {
    text-decoration: none;
}